fieldset {
   padding:0em 0.4em 0.3em 0.3em;
   margin: 0 0 0 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 0em 0em;
}

.ui-widget {
    font-size: 100%;
}

legend {
    font-size: 1.0em;
}

.charTab, .charTab {
    cursor: pointer;
}